<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-ios-permissions" version="1.1.1">
	<name>Cordova iOS Permissions</name>
	<description>Experimental plugin to prevent crashes in iOS apps due to missing entries in the plist file.</description>
	<license>MIT</license>
	<repo>https://github.com/mariusz-strawinski/cordova-plugin-ios-permissions</repo>

	<platform name="ios">
		<config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist" mode="merge">
			<string>need microphone access to record sounds</string>
		</config-file>
		
		<config-file parent="NSCameraUsageDescription" target="*-Info.plist" mode="merge">
			<string>need camera access to take pictures</string>
		</config-file>

		<config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist" mode="merge">
			<string>need photo library access to get pictures from there</string>
		</config-file>

		<config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist" mode="merge">
			<string>need location access to find things nearby</string>
		</config-file>

		<config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist" mode="merge">
			<string>need photo library access to save pictures there</string>
		</config-file>
	</platform>
</plugin>
